<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/xhtml1-loose.dtd">
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title><!-- TITLE --></title>
	<style type="text/css">
		.server_addr {
		}
		.server_platform {
		}
		.test_start {
		}
		.test_duration {
		}
		.stat {
		}
		.graph {
		}
		.raw_data {
		}
		.contact {
		}	
		table,td,th{
			border:1px #000 solid;
			border-collapse:collapse;
		}
		hr {
			border-top:1px dotted;
			height:0;
			width:98%;
			left:0;
		}
	</style>
	</head>
	<body>
		<h1><!-- TITLE --></h1>
		<hr></hr>
		<div id="server_addr">Server address: <!-- SERVER_ADDR -->  </div>
		<div id="server_platform">Platform: <!-- SERVER_PLATFORM -->  </div>
		<div id="test_start">Test started at: <!-- TEST_START --> (Server Time) </div>
		<div id="test_duration">Test duration: <!-- TEST_DURATION --> seconds </div>
		<hr></hr>
		<h2>Result Summary</h2>
		<div id="stat"><!-- STAT --></div>
		<hr></hr>
		<h2>Graph Report</h2>
		<div id="graph"><!-- GRAPH --></div>
		<hr></hr>
		<div id="raw_data"><!-- RAW_DATA --></div>
		<hr></hr>
		<div id="contact">Any question, please contact with <a href="mailto:charlse.zhang@suzsoft.com">charlse.zhang</a>.</div>
	</body>
</html>
